doctype html
html(lang="es")
	head 
		title Pagina no encontrada
		link(href="../../stylesheets/404.css" rel="stylesheet" type="text/css" media="all")
		link(rel="stylesheet" type="text/css" href="../../stylesheets/materialize.css")
		link(rel="stylesheet" type="text/css" href="../../stylesheets/animate.css")
	body
		.container
			.col.s12.m12.l10.offset-l1.center
				img(src="../../images/logo.png" class="responsive-img logo")
				h3.white-text.thin(style="margin-top: .5em;") Fiscalia general del estado
				h1.white-text 404
				p.white-text Pagina no encontrada, regresar a 
					a(href='/') inicio
			.col.s12.m12.l3.offset-l3.center
				img(src="../../images/rocket.png" class="responsive-img logo animated fadeInUp")