doctype html
html(lang="es")
	head 
		title Soporte Técnico - Fiscalia General del Estado de Guerrero
		//- scripts de terceros
		script(src="/../javascripts/jquery-3.1.1.js")
		script(src="/../javascripts/materialize.js")
		script(src="/../javascripts/sweetalert.min.js")
		script(src="/../javascripts/vanilla-notify.js")

		block scripts
		//- stylessheets de terceros
		block styles
		link(rel="stylesheet" type="text/css" href="/../stylesheets/materialize.css")
		link(rel="stylesheet" type="text/css" href="/../stylesheets/sweetalert.css")
		link(rel="stylesheet" type="text/css" href="/../stylesheets/vanilla-notify.css")

		//- scripts propios
		block scripts_self
		script(src="/../javascripts/common.js")
		//- stylessheets propios
		block styles_self
		link(rel="stylesheet" type="text/css" href="/../stylesheets/common.css")
		//- icons
		link(rel="stylesheet" type="text/css" href="/../fonts/iconfont/material-icons.css")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	body
		//- dropdown user
		ul#settings_user.dropdown-content(style='width:100em;')
			li
				a(href="#modal_change_password" class="indigo-text modal-trigger") Cambiar contraseña
					i.material-icons.left update
			li.divider
		//- Modal para cambio de contraseña
		#modal_change_password.modal.modal-fixed-footer
			form(class="col l10 offset-l1 m12 s12 margin-top" method="post" action="/usuario/change_password?_method=put" id="formValidate" onsubmit='return validarPassword(this)'  )
				.modal-content
					h4(class="condensed light center " style="color: rgb(33,171,74);" ) <b>Cambiar Contraseña</b>
							.row(style="margin-top:1.5em;")
								div(class="input-field col s12 m12 l8 offset-l2")
									i(class="material-icons prefix") lock
									input(name="password_old" type="password" class="validate" required)
									label(for="password_old") Contraseña Actual
								div(class="input-field col s12 m12 l8 offset-l2")
									i(class="material-icons prefix") vpn_key
									input(name="password_new" type="password" class="validate" required)
									label(for="password_new") Contraseña Nueva
								div(class="input-field col s12 m12 l8 offset-l2")
									i(class="material-icons prefix") vpn_key
									input(name="password_new_2" type="password" class="validate" required)
									label(for="password_new_2") Repetir Contraseña Nueva
								div(class="col l10 offset-l1 m12 s12 " id="mensaje" name="mensaje")
				.modal-footer
					button(class="modal-action waves-effect waves-green btn-flat" type='submit') Cambiar
				
		nav
			div(class="nav-wrapper color-nav") 
				img(class="responsive-img logo-nav brand-logo" src="/../images/logo.png")
				a(href="#" data-activates="phone-nav" class="button-collapse")
					i(class="material-icons") menu
				ul(class="right hide-on-med-and-down")
					block nav-desktop
					li
						a.it.thin.dropdown-button(data-activates="settings_user") #{user_rol} - #{user_nombre} 
							i.material-icons.right arrow_drop_down_circle
					li
						a(class="red darken-2 bold" href="/logout/") Cerrar sesión
							i(class="material-icons right") cancel

				ul(class="side-nav side-width" id="phone-nav")
					block nav-phone
					li
						a(class="red darken-2 white-text" href="/logout/") Cerrar sesión
							i(class="material-icons left") cancel
		
		block content	

	script().
			$(".button-collapse").sideNav();
			$(".dropdown-button").dropdown();
			$(document).ready(function(){
			    $('.collapsible').collapsible();
			    $('.modal').modal({opacity: 0.8});
			});
			function validarPassword(form){		
				if(form.password_old.value != "" || form.password_new.value != "" || form.password_new_2.value != "" )
					{
						if (form.password_new.value != form.password_new_2.value){
							
							$('#mensaje').html('<h6 style="color:red"><b>Contrasenias no coinciden</b></h6>');
						}else{
							return true;
						}

					}else{
						alert("Falta llenar campos");
				}
				return false;
			}


