//- index Recepcionista
extends ../layout.jade
block scripts
	script(src="/../javascripts/jquery.validate.min.js")
	script(src="/../javascripts/materialize-stepper.min.js")
block styles
	link(rel="stylesheet" href="/../stylesheets/materialize-stepper.min.css")
block scripts_self
	script(src="/../javascripts/generar-solicitud.js")

block nav-desktop
	//- li
	//- 	a(class="thin it" href="#") Gestion de usuarios
	//- 		i(class="material-icons right") group_add
	
block nav-phone
	//- li
	//- 	a(class="" href="#") Gestion de usuarios
	//- 		i(class="material-icons left") group_add
	
block content	
	div(class="container")
		.row
			div(class="col l10 offset-l1 m12 s12 ")
				h4(class="center bold") Levantar solicitud
		.row
			ul(class="stepper horizontal z-depth-3")
				li(class="step active")
					div(class="step-title waves-effect") Crear solicitud
					div(class="step-content")
						div.row
							div(class="col s12 m12 l3")
								strong Numero de solicitud: #{solicitud}
							div(class="col s12 m12 l4 offset-l5")
								strong Fecha de solicitud: #{fecha}
							div(class="input-field col s12 m12 l4 " style="margin-top: 4em;")
								select(name="tipo_solicitud")
									each solicitud in data.tipos_solicitud
										option(value=solicitud.id_tipo_solicitud)=solicitud.nombre
								label(for="tipo_solicitud") Tipo solicitud
							div(class="input-field col s12 m12 l4" id="for_no_oficio")
						div(class="step-actions")
							button(class="waves-effect waves-dark btn next-step") Seguiente
								i(class="material-icons right") navigate_next
				li(class="step")
					div(class="step-title waves-effect") Datos solicitante
					div(class="step-content")
						div.row
							div(class="col s12 m12 l10 offset-l1")
								form(onsubmit="return getEmpleado(this);")
									div(class="input-field z-depth-3")
										input(id="search" name="nombre_empleado" type="search" required="true" placeholder="Ingrese su nombre de empleado...")
										label(class="label-icon" for="search")
											i(class="material-icons left") search
										i(class="material-icons") close

						div.row
							ul(class="collapsible" data-collapsible="accordion" id="empleados_list")
						//- div(class="step-actions")
						//- 	button(class="waves-effect waves-dark btn next-step") Siguiente
						//- 		i(class="material-icons right") navigate_next			
				li(class="step")
					div(class="step-title waves-effect") Seguimiento
					div(class="step-content")
						.row
							div(class="col s12 m12 l10 offset-l1")
								p(class="center")
									input(type="checkbox" class="filled-in" id="solucion" checked="checked")
									label(for="solucion") ¿Se soluciono el problema?
							div(class="col s12 m12 l10 offset-l1" id="opciones_solucion")
								//- h5 ¿Se soluciono el problema?



