//- index admistrador
extends ../layout.jade
block nav-desktop
	li
		a(class="thin it" href="/") Gestion de usuarios
			i(class="material-icons right") group_add
	li
		a(class="thin it" href="/estadisticas") Estadisticas
			i(class="material-icons right") trending_up
	li
		a(class="thin it" href="/reportes") Reportes
			i(class="material-icons right") assignment
block nav-phone
	li
		a(class="" href="#") Gestion de usuarios
			i(class="material-icons left") group_add
	li
		a(class="" href="/estadisticas") Estadisticas
			i(class="material-icons left") trending_up
	li
		a(class="" href="/reportes") Reportes
			i(class="material-icons right") assignment
	
block content
	script(src="/../javascripts/jquery.validate.min.js")
	script(src="/../javascripts/seleccionar_empleado.js")
	style().
		div.error {
		  color: red;
		  margin-top: -15px;
		  padding: 0;
		  font-size: 0.9em;
		  padding-left: 3.5em;
		}
	div(class="container margin-top")
		if(messages)
			h1=messages
		.row.z-depth-3
			h5(class="condensed light center padding-top") Agregar un nuevo usuario al sistema
			form(class="col l10 offset-l1 m12 s12 margin-top" method="post" action="" id="formValidate")
				.row
					div(class="input-field col s12 m12 l8 offset-l2")
						i(class="material-icons prefix") account_circle
						input(name="nombre" type="text" class="validate" required)
						label(for="nombre") Nombre de usuario
					div(class="input-field col s12 m12 l8 offset-l2")
						i(class="material-icons prefix") lock
						input(name="password" type="password" class="validate" required)
						label(for="password") Contraseña

					div(class="input-field col s12 m12 l3 offset-l2 margin-top")
						i(class="material-icons prefix color-text left" data-target="seleccionar_empleado") label
						input(name="id_empleado" id="id_empleado" class="validate" type="text" required readonly placeholder="ID empleado")
						label(for="id_empleado") ID empleado
					div(class="input-field col s12 m12 l5 margin-top")
						select(name="rol")
							each rol in roles
								option(value=rol.id_rol)=rol.nombre
						label(for="rol") Seleccione un rol
					div(class="input-field col s12 m12 l2 offset-l8")
						button(class="btn waves-effect waves-light green right" type="submit") Registrar
							i(class="material-icons left") send
				
	//- modal: seleccionar usuario
	div(id="seleccionar_empleado" class="modal modal-fixed-footer")
		div(class="modal-content")
			form(onsubmit="return getEmpleado(this);")
				div(class="input-field z-depth-3")
					input(id="search" name="num_empleado" type="search" required="true" placeholder="Ingrese el número empleado:")
					label(class="label-icon" for="search")
						i(class="material-icons left") search
					i(class="material-icons") close

			ul(class="collapsible" data-collapsible="accordion" id="empleados_list")

		div(class="modal-footer")
			a(class="modal-action modal-close waves-effect waves-green btn-flat") Cerrar
	






