//- index admistrador
extends ../layout.jade
block nav-desktop
	li
		a(class="thin it" href="#") Gestion de usuarios
			i(class="material-icons right") group_add
	li
		a(class="thin it" href="#") Reportes
			i(class="material-icons right") trending_up
block nav-phone
	li
		a(class="" href="#") Gestion de usuarios
			i(class="material-icons left") group_add
	li
		a(class="" href="#") Reportes
			i(class="material-icons left") trending_up
	
block content
	h1 hola