.color-palta{
	background: #aa2f33;
}
.color-pmedia{
	background: #e5c581;
}
.color-pbaja{
	background: #3d9767;
}
html, body{
	background: #f5f5f5;
	padding: none;
	margin: none;
}

.color-nav{
	background: #293e49;
}
.color-text{
	color: #333f4c;
}
.color-back{
	background: #293e49;
}

.padding-top{
	padding-top: 2em;
}
.margin-top{
	margin-top: 2em;
}
.big-margin-bottom{
	margin-bottom: 10em; 
}
.margin-bottom{
	margin-bottom: 2em;
}
.padding-bottom{
	padding-bottom: 2em;
}
.logo{
	width: 170px;
	height: 165px;
}
.logo-nav{
	width: 60px;
	height: 60px;
}
.logo-reporte{
	width: 100px;
	height: 100px;
}

/*forms - material*/
 .input-field label {
     color: #333f4c;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #1976d2 ;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #1976d2 ;
}
.input-field input[type=password]:focus + label {
 color: #1976d2 ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #1976d2 ;
 box-shadow: 0 1px 0 0 #1976d2 ;
}
.input-field input[type=password]:focus {
 border-bottom: 1px solid #1976d2 ;
 box-shadow: 0 1px 0 0 #1976d2 ;
}

li:hover{
	background-color: #f5f5f5;	
}
a.it:hover{
	color: #293e49;
}

@media only screen and (max-width: 1000px) {
	.logo{
		width: 100px;
		height: 100px;
	}
	h4{
		font-size: 2em;
	}
	.text-nav{
		font-size: 3em;
	}
}

@media only screen and (min-width: 993px) {
	
}

.waves-effect.waves-brown .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}

ul.stepper.horizontal {
   min-height: 560px;
}

.dropdown-content { 
	min-width: 15em; 
}

.margin-lados{
	margin-left: 1em;
	margin-right: 1em;
}

.hidden{
	display: none;
}
